.table {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.table__headers {
    font-weight: bold;
}

.table__row {
    display: grid;
    grid-template-columns: 20px 150px 150px 150px;
    text-align: center;
    height: 30px;
}

.table__cell input {
    border:0;
    outline:0;
    text-align: center;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 150px;
}

.table__checkbox {
    background-color: red;
}

